@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #edeef0;
}

.content {
    margin: 20px 80px 20px 80px;
}

/*Navbar section*/
.navbar-brand {
    font-weight: 900;
    
}

.navbar-nav {
    margin-left: auto;
    
}

.navbar-nav li {
  margin-left: 30px;
}

.nav-item {
    font-weight:500 ;
}

.list-inline a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

#profil-card {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#profil-card h5 {
  color: white;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  animation: fadeIn 1.5s ease-in-out;
}

img {
transition: transform 0.3s ease-in-out; 
}

img:hover {
transform: scale(1.07);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    margin: 0px;
  }
  
  .p-5 {
    padding: 1rem !important;
  }

  .display-5 {
    font-size: 18px;
  }

  .fs-4 {
    font-size : 16px !important;
  }
  
  h3 {
    font-size: 20px;
  }

  a {
    font-size: 14px !important;
  }

  .card-body {
    padding-bottom: 30px !important;
  }

  #tag {
    font-size: 14px !important;
  }


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}